@charset "UTF-8";
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
main{
    background-color: lime;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    height:23px;
    background-color: #505050;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(227, 227, 227);
}

header div{
    
    margin-left:50px ;
    width: 100px;
    display: flex;
    justify-content: space-between;
}



header div a  { 
    text-decoration: none; 
    color: rgb(227, 227, 227);
} 

section{
    background-color: purple;
    height:100%;
    display: flex;
}
aside{
    width: 45px;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    
}

aside:last-child{
    align-items: baseline;
}


aside div {
    cursor: pointer;
    background-color: red;
    font-size: 20px;

}


.tray{
    width: 144px;
    min-width: 144px;
    background-color: #7B7575;
    transition: all 1s;
    display:flex;
    justify-content: flex-end;
    overflow: hidden;
}
.hide{
    width:0;
    min-width: 0;
    transition: all 1s;
}
div.tray div{
    box-sizing: border-box;
    border:5px solid green;
    width:144px;
    min-width: 144px;
}



.nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    float: right; /* Clear floats */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Bring the nav above everything else--uncomment if needed.
    position: relative;
    z-index: 5;
    */
}















































#program{
    background-color: orange;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: #060606;
    height: 34px;

    display: flex;
}
button{
    width:173px;
    max-width:173px;
    background-color:#373737;
    border:0 solid black;
    margin-right: 2px;
    color: white;
}
button:last-child
{
    margin: 0;
}
.active{
    background-color: #161616;
}
#breadcrumbs{
    background-color: #161616;
    height: 23px;
}
textarea{
    height: 100%;
    width: 100%;
    background-color: #060606;
    border: 0px solid #060606;
    outline: 0;
    resize: none;
    color: white;
    /* makes the madding move in and not out */
    box-sizing: border-box;
    overflow-y: auto;
}
footer{
    height:16px;
    background-color: #0254A0;
    border-top: 1px solid white;
}