/*This is how you do a comment in css, its easy to learn*/
/*This is setting all the h1 emements to be the color blue and have wavy fancy text.*/

@font-face {
    font-family: 'days_laterregular';
    src: url('28_days_later-webfont.woff2') format('woff2'),
}


h1{
    color:blue; 
    text-decoration: wavy;
    font-family: days_laterregular;
    font-size: 40px;
}
/*This is for the container we made where it changes the artical to be in the middle */
#cotainer{
    width: 1000px;
    height: 800px;
    border: 2px solid red;
    background-color: rgb(180, 180, 180);
}
body,html{
    display: flex;
    justify-content: center;
    background-color: gray;
    background-image: linear-gradient(blue, green);
    /*background-image: url(../Images/RedbullLogo.png);*/
    background-repeat: no-repeat;
    background-size:100%;
    
    

}
#nav{
    text-align: center;
    border: 1px solid rgb(0, 60, 255);
}
.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
    padding: 15px;
}
/*This is the header and its based on a id what is why it has the #*/
#header{
    border: 2px solid red;
    text-align: center;
}
#Content{
    border: 1px solid rgb(0, 38, 255);
    height: 643px;
}
#footer{
    border: 1px solid rgb(255, 0, 0);
    text-align: center;
    background-color: rgb(161, 161, 161);
    font-family: days_laterregular;
}
/*This is part of the text for the paragraph, its based on a class and its on the .*/
.Section-text{
    width: 750px;
    /*This is moving the text and the image to the left using the float*/
    float: left;
    padding-left: 20px;
}
img{
    float: left;
}

#Section-header{
    padding-left: 20px;
}
.gallary{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid red;
}
#contact-form{
    margin:auto
}
.videos{
    margin: 30 500 150 300;
}
/*need to be this to have the link work */

a:link{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;


}

a:visited{
    color: black;

}

a:hover{
    text-decoration: underline;
}

a:active{

color: blue;

}

table{
    border:1px solid black;
    margin-left: 150px;
    width:600px;
    height: 350px;
    border-collapse: collapse;
}

td{
    border:1px solid black;
}
/*This is how we get ever other color for the lines*/
/*tr:nth-child(even){
    background-color: #9c2c1c;
}
tr:nth-child(odd){
    background-color: #d1d1d1;
}*/

.table-data tr:nth-child(odd){
    background-color: #d1d1d1;
}