@charset "UTF-8";

@import url("CSSProjects/EverythingFinal/Images");

/* a lot of the css for my home page */
.makingHeightmax{
    display: flex;
    height:100%;
}


.imageheight{
    height: 200px;
    /* width: 100px; */
}

.FamilyImage{
    height: 100%;
    width:100%;
    background-image: url("FamilyGuy.jpg");
    background-position: center;
    background-size: cover;
}


.boxSize{

    height:250px;
}


.buttonHeight{
    height:50px;
}