@charset "UTF-8";


/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&family=Teko:wght@300..700&display=swap');
/* Still Got very little idea how to do it but i can use the width's that he set on the pixso */



html{
    height: 100%;
    width:1820px;
    margin:0;
}

body{

    /* display:flex; */

    margin:0;
    height: 100%;
    width:1820px;

    /* flex-shrink: 1; */


    /* width:auto; */

    /* height:100%; */

}

main{
    display:grid;
    grid-template-areas:
    "noHead noHead noHead"
    "img img welcome"
    "buy banner welcome "
    "feet feet feet";

    /* grid-template-areas:
    "img img welcome"
    "buy banner welcome "; */

    background-color: rgb(40, 40, 40);
    
    width:1820px;
    

    /* display: flex; */
    /* float: right; */
    /* height:1080px; */
    

}

header{
    grid-area: noHead;
    background-color:rgb(7, 7, 7);
    
    color: rgb(187, 9, 8);

    /* inline-size: auto; */
    display: flex;

    justify-content: space-between;

    /* align-items: baseline; */
    
    width:1820px;

    /* display: flex; */
    height:100px;
    

}

header h1{
    /* align-items: baseline; */
    
    margin-left: 20px;
    align-items: first baseline;

    font-size:48px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    

}
header div{

    margin-right: 20px;
    align-content: center;
}

header div i {
    align-items: center;
    font-size: 60px;
}



/* ##############3The big immage background item############## */


#bigImage{
    grid-area: img;
    border: 2px solid orange ;

    width: 1440;
    height: 388px;

    background-image: url("f13_images/banner.png");
    background-repeat: no-repeat;

    background-size: 100%, auto;
    background-position-y:-72px ;

    

    
    

    /* padding-right: 0;
    margin-right: 0;

    background-size: auto; */



    /* display:flex; */

    /* align-items: center;
    justify-content: center; */


    

}

/* ####################Buy Movie sectionm######################## */

#buyMovie{
    grid-area: buy;
    border-top: 5px solid rgb(187, 9, 8) ;
    background-color: rgb(57,57,57);
    display:flex;
    width: 700px;
    height:481px;
    margin: 15px 10px 10px 15px;

}

#justForSpacing{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-evenly;
}
#buyPoster{
    
    width: 310px;
    height: 478px;
    
}

#fridayText{
    width: 333px;
    height: 77px;
    border-bottom: 4px solid red;
    color:rgb(255, 29, 41);

    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#buyParagraph{
    
    width: 349px;
    height: 216px;
    padding-top: 20px;


    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#imageFlex{
    

    display:flex;
    width: 331px;
    height: 158px;

    justify-content: space-between;


}

#imageSize{
    height:148px;
    width:117px;
}

#withInImageFlex{
    width: 191px;
    height: 157px;

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

}

#amazon{
    color: rgb(34, 193, 203);
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#price p{
    padding:0;
    margin:0;
    width:180px ;
    height:77px;
    color:white;
    border-bottom:4px solid white;
    font-size: 72px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}



/* ############################################ */


#campBanner{
    grid-area: banner;
    border-top:5px solid rgb(187, 9, 8);
    background-color: rgb(57, 57, 57);

    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    
    

    margin: 15px 0px 10px 15px;
    

    

    height:481px;
    width: 700px ;
    

}

#posterImg{
    
    width: 641px;
    height: 229px;
    
    /* justify-content: center;
    align-items: center; */
    
    
}

#campBanner article{
    width: 676px;
    height: 195px;

}

#campBanner article p{
    color: white ;
    font-size: 24px;
    width: 676px;
    height: 195px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;


    
}


/* ############################### */


#welcomeCamp{
    grid-area: welcome;
    /* border: 2px solid black ; */
    display: flex;
    background-color: rgb(57,57,57);

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;

    width: 360px;
    height: 918px;


    font-size: 18px;
    

    /* margin-left: 20px;
    padding-left:10px;

    height:918px;
    /* width:360px; */

    /* display: flex; */
}

#welcomeCamp article{
    width: 277px;
    height: 385px;
    color: white;
    

}

#red{
    color:rgb(252, 3, 3);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#realRed{
    color:rgb(255, 29, 41);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#veryRed{
    color:rgb(255, 29, 41);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#WelcomeSign{
    width: 325px ;
    height:254px ;
    align-items: center;

}
#jason{
    align-items: center;
    width: 325px;
    height:170.52px;

}





footer{
    grid-area: feet;
    background-color: rgb(7, 7, 7);
    

    

    width:1820px;
    height: 60px;
}

footer p {
    color: rgb(188, 188, 188);
    font-size: 12px ;
    padding-left: 20px;
    padding-top: 10px;
    /* this is for teko font */
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}