html, body{
    margin:0;
    height:100vh;
    background-color: rgb(128, 128, 128);
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}
table{
    width:80%;
    border-collapse: collapse;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
td{
    border-bottom:1px solid black;
}





thead{
    background-color: rgb(255, 235, 205);
    color:rgb(222,184,135);

}

h1{
    font-size: 32px;
    background-color: white;

}
thead tr:first-child{
    /* display: contents; */
    font-size: 1.5em;
    
}
thead tr:last-child{
    display: none;
    font-size: 16px;
    
}
tbody tr{
    font-size: 16px;
}



@media screen and (max-width:1920px){
    h1{
        font-size: 1.5em;
    }
    thead tr:first-child{
        display: contents;
        font-size: 1em;
    }
    thead tr:last-child{
        display: none;
        
    }

    tbody tr{
        font-size: 1em;
        
    }

}

/* NExt media */

@media screen and (max-width:1000px){

    h1{
        font-size: 1.5em;
    }


    thead tr:first-child{
        display: none;
        
    }
    thead tr:last-child{
        display:contents;
        font-size: 1em;
        
    }

    tbody tr{
        font-size: 1em;
    }

}


/* next media */

@media screen and (max-width:500px){

    h1{
        font-size: 2em;
    }

    thead tr:first-child{
        display: none;
    }
    thead tr:last-child{
        display:contents;
        font-size: 1.5em;
    }

    .stat{
        display:none;
    }

    tbody tr{
        font-size: 1.25em;
    }


} 

